  /* Actor Font */
  @font-face {
    font-family: 'actor';
    src: local('actor'),
         url('../static/fonts/actor.ttf') format("truetype");
  }


#main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

/*For Typing Effect */
.container{
    display: flex;
    flex-direction:column;
    align-items:center;
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    animation: 
      typing 1s steps(20, end) forwards,
      blink 1s infinite;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    from { border-color: transparent }
    to { border-color: black; }
  }
  

h3{
    padding: 1vh;
}