/* Navbar */

*{
    margin:0;
    padding:0;
  }
  
  .nav-links a{
    color:#fff;
  }
  
  a{
    text-decoration: none;
  }
  
  li{
    list-style: none;
  }
  
  .navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #BDC4C8;
  }
  
  .nav-links a{
    color:black;
    font-weight:bold;
  }
  
  img{
    max-width:50%;
    max-height:50%;
  }

  img:not(.logo){
    max-width: 100%;
    max-height:100%;
    height: auto;
  }
  
  .menu{
    display:flex;
    gap:20 em;
    font-size: 25px;
  }
  
  .menu li{
    padding: 5px 14px;
  }
  
  .dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  /* Responsive Navbar */
  input[type=checkbox]{
    display: none;
  }
  
  .hamburger{
    display:none;
    font-size:24px;
    user-select:none;
  }
  
  /* Commands when the width of the screen is 810px or less */
  @media(max-width: 810px){
    .menu{
      display:none;
      position:absolute;
      background-color:#BDC4C8;
      top:13vh;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
  .menu li:hover{
    display: inline-block;
    background-color: #c7d6ed;
    transition: 0.3s ease;
  }
  
  .menu li + li {
    margin-top: 12px;
  }
  
  input[type=checkbox]:checked~.menu{
    display:block;
  }
  
  .hamburger{
    display:block;
  }
  
  .dropdown{
    left:50%;
    top:30px;
    transform: translateX(35%);
  }
  
  .dropdown li:hover{
    background-color:  #4c9e9e;
  }
  }
  
  /* Navbar Ends */