@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

* {
    font-family: 'Actor', sans-serif;
    text-align: center;
}

.button{
    background-color: lightgray;
    border: 1px solid;
    font-size: 25px;
    padding: 15px 15px;
    border-radius: 50px;
}

.upload-btn{
    display: none;
}

.convert-btn{
    display: inline;
}

.button:hover{
    background-color: white;
}

.button > img,
.button > span {
  vertical-align: middle;
}

.button > img{
    height: 30px;
    width: 30px;
}


/* Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px){
    /* .image-holder{
        height: 400px;
        width: 400px;
        background-color: white;
        margin: auto;
        padding: auto;
        border: 2px solid;
    } */
    
}

/* iPads and Tablets */
@media screen and (min-width: 481px) {
    /* .image-holder{
        height: 400px;
        width: 400px;
        background-color: white;
        margin: auto;
        padding: auto;
        border: 2px solid;
    } */
    
}
